#channel_botfilter_toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9e9ea6;
  font-size: 15px;
  font-weight: 700;
  padding: .5rem;
  background: #fff;
  position: absolute;
  -webkit-transition: color .1s ease-out .0000001ms;
  -moz-transition: color .1s ease-out .0000001ms;
  transition: color .1s ease-out .0000001ms;
  font-family: Lato,appleLogo,sans-serif;
  z-index: 25;
}

#channel_header #channel_botfilter_toggle {
  bottom: .6rem;
  right: 3rem;
}

#channel_botfilter_toggle[active] {
	color: #439fe0;
}
